@model List<SampleMVC.Models.WeatherData>

@{
    ViewBag.Title = "Weather";
    Layout = "_Layout";
}

<h2>
    Weather
</h2>

<table>
    <thead>
    <tr>
        <th>Date</th>
        <th>Summary</th>
        <th>Temperature (C)</th>
        <th>Temperature (F)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Date</td>
            <td>@item.Summary</td>
            <td>@item.TemperatureF</td>
            <td>@item.TemperatureC</td>
        </tr>
    }
    </tbody>
</table>